.app{
  display:flex;
  margin-top: 10px;
  background-color: rgb(216, 252, 161);
}

.content{
  flex: 1;
  width:100%;
  background-color: inherit;
  height: fit-content;
  padding: 10px 10px 10px 10px;
}